<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <p>Prepared by Alejandro, Christian, Dan, and Luisa</p>

<!-- Possibilities that will bring us here:

    New round
    Display a new card (ongoing round)
    Card/guess feedback (ongoing round)
    Game over (no more cards)

     -->

  <!-- GUESS FEEDBACK -->

  <% if @message %>
    <strong><p class='feedback'><%= @message %></p></strong>
  <% end %>


  <!-- PROMPT AND GUESS FORM -->

  <% if @card %>
    <p>Here is your card:</p>
      <%= @card.prompt %>

    <p><%= @card.deck.question %></p>

    <form action="/users/round/<%= @card.id %>" method='post'>
      <input type='hidden' name='expected' value=<%= @card.answer %>>
      <input type='text' name='answer'>
      <input type='submit' value='Submit'>
    </form>

      <p>Give up? <a href='/users/round/<%= @card.id %>/show'>Click here</a> to display the answer.</p>
  <% end %>

  <% if @solution %>
    <p>The correct answer was <strong><%= @solution %></strong>.</p>
    <a href='/users/round/resume'>Return to the game.</a>
  <% end %>

  <!-- RUNNING SCORE TALLY FOR ROUND -->

  <% if game_over? %>
    <p><strong>Thanks for playing! Here are your results:</strong></p>
  <% else %>
    <p><strong>Your score so far:</strong></p>
  <% end %> 

  <table class='current_score'>
    <tr>
      <th>Correct</th>
      <th>Attempted</th>
      <th>% Correct</th>
      <th>Remaining</th>
    </tr><tr>
      <td><%= current_score %></td>
      <td><%=  %></td>
      <td><%=  %>
      <td><%=  %></td></tr>
  </table><br>

  <% if game_over? %>
    <strong>Options:</strong><br>
    <a href="/">Start a new game</a><br>
    <a href="/users/stats">View your stats</a><br>
    <a href="/logout">Logout</a>
  <% end %> 
</div>